<h1>Editing Subject</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_school_klass_subject_path(@school, @klass, @subject) %> |
<%= link_to 'Back', admin_school_klass_subjects_path(@school, @klass) %>
