<section class="hero">
  <div class="container">
    <div class="jumbotron">
    	<div class="page-header">
    		<h1>高専生の成績管理<br><small>赤点を回避しよう。</small></h1>
    		<%= link_to new_user_registration_path, class: 'btn btn-primary btn-lg' do %>
    			<i class="fa fa-users"></i> 新規会員登録
    		<% end %>
      </div>
    </div>
  </div>
</section>

<section class="features bg-primary">
  <div class="container">
  	<div class="row">
  		<div class="col-sm-4">
  			<div class="feature">
  				<i class="fa fa-bar-chart"></i>
  				<p>成績をグラフ表示し一括管理。</p>
  			</div>
  		</div>

  		<div class="col-sm-4">
  			<div class="feature">
  				<i class="fa fa-graduation-cap"></i>
  				<p>単位を守り卒業を目指す。</p>
  			</div>
  		</div>

  		<div class="col-sm-4">
  			<div class="feature">
  				<i class="fa fa-heart"></i>
  				<p>学校生活をサポートします。</p>
  			</div>
  		</div>
  	</div>
  </div>
</section>

<section class="info">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="feature">
          <i class="fa fa-paper-plane"></i>
          <p>ご連絡は<%= link_to "こちら", "http://goo.gl/forms/4Xd4Rqn8yo" %>から</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="feature">
          <i class="fa fa-github"></i>
          <p><%= link_to "Github", "https://github.com/iguchi1124/school-record-manager" %>より開発に参加することが出来ます。</p>
        </div>
      </div>
    </div>
  </div>
</section>
