@import "compass/css3";

/* =============== 共通レイアウト =============== */

body {
  overflow-x: hidden;
}

.graph {
  width: 100%;
}

#footer {

  .footer-wrapper {
    padding: 30px;
    color: #fff;
    background-color: darken(#2196f3, 10%);

    address {

      .copyright {
        text-align: center;
        font-size: 16px;

        @media only screen and (max-width : 768px) {
            font-size: 12px;
        }
      }
    }
  }
}

.graph {
  margin-top: 50px;
  padding: 10px;
}

.table-wrapper {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

li.list-item {
  display: inline-block;
  list-style: none;
  padding: 5px;
}

/* =============== ランディングページ =============== */


.jumbotron {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;

  .page-header {
    text-align: center;

    h1 {
      font-size: 48px;

      small {
        font-size: 36px;
      }
    }

    @media only screen and (max-width : 768px) {

      h1 {
        font-size: 32px;

        small {
          font-size: 24px;
        }
      }
    }
  }
}

.features {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  .feature {
    padding: 50px 0;
    margin: 0;
    text-align: center;

    h3 {
      font-size: 20px;

      @media only screen and (max-width : 768px) {
          font-size: 18px;
      }
    }

    .fa {
      color: #fff;
      font-size: 80px;
      line-height: 160px;
    }
  }
}
