<ul>
  <li class="list-item">
    <%= link_to 'ユーザー管理', admin_users_path, class: 'btn btn-primary btn-lg'  %>
  </li>
  <li class="list-item">
    <%= link_to '学校一覧', admin_schools_path, class: 'btn btn-primary btn-lg' %>
  </li>
</ul>
