<table class="table table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td id="<%= user.id %>"><%= render partial: 'role_button', locals: { user: user } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
